body {
  margin: 0;
  padding: 0;
  background-image: url(https://wallpapers.com/images/hd/perfect-weather-with-gradient-sky-ym0nn79vhoqg34v3.jpg);
  background-size: cover;
  /* filter: opacity(0.8); */
  /* -webkit-backdrop-filter: blur(6px); */
}
nav.navbar {
  background-color: rgb(131 129 129 / 33%) !important;
  padding-inline: 20px;
}
div h1 {
  color: beige;
  font-size: 45px;
  padding-block: 1em;
}

/* blur del form del componente main */
div.text-blur {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 20px;
}
div.card-img-overlay {
  text-align: left;
}
div.blur-text,
p.blur-text {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 12px;
}
div.blur-text {
  display: inline-block;
}
p.blur-text {
  display: table;
}

div.background-image {
  width: 300px;
  height: 400px;
  background-size: cover;
  border: solid 3px #dddddd;
  cursor: pointer;
}
div.background-image:hover {
  transition: 400ms;
  transform: scale(1.05);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 300px);
}
form input {
  margin: 20px;
}
form input:hover,
form input:focus {
  transform: scale(1.05);
  transition: 350ms;
  font-weight: 700;
  font-size: 30px;
}
img.card-image {
  object-fit: none;
}
div.background-city {
  background: url(https://images3.alphacoders.com/958/958333.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position-y: 30%; */
  backdrop-filter: blur(8px);
  border-radius: 15px;
}
div.carousel-indicators {
  background-color: rgb(131 129 129 / 33%);
  border-radius: 10px;
  padding: 0.3em;
}
div.carousel-indicators button {
  border-radius: 50%;
  /* padding: 50px; */
}
div.carousel {
  /* max-width: 300px; */
  margin-inline: auto;
}

div.forecast-format {
  background-color: rgba(89, 87, 87, 45%);
  border-radius: 15px;
  max-width: 300px;
  margin-inline: auto;
}
div.forecast-format h3,
div.forecast-format h4 {
  padding: 0;
}
div img.img-forecast {
  height: 400px;
  width: 500px;
  object-fit: cover;
}
/* 
CSS HEX
--white: #FFFFFFff;
--timberwolf: #D1D0D1ff;
--french-gray: #AEABB4ff;
--french-gray-2: #CFC7D0ff;
--timberwolf-2: #DAD1D4ff;

/* CSS HSL 
--white: hsla(0, 0%, 100%, 1);
--timberwolf: hsla(300, 1%, 82%, 1);
--french-gray: hsla(260, 6%, 69%, 1);
--french-gray-2: hsla(293, 9%, 80%, 1);
--timberwolf-2: hsla(340, 11%, 84%, 1);

/* SCSS HEX 
$white: #FFFFFFff;
$timberwolf: #D1D0D1ff;
$french-gray: #AEABB4ff;
$french-gray-2: #CFC7D0ff;
$timberwolf-2: #DAD1D4ff;

/* SCSS HSL 
$white: hsla(0, 0%, 100%, 1);
$timberwolf: hsla(300, 1%, 82%, 1);
$french-gray: hsla(260, 6%, 69%, 1);
$french-gray-2: hsla(293, 9%, 80%, 1);
$timberwolf-2: hsla(340, 11%, 84%, 1);

/* SCSS RGB 
$white: rgba(255, 255, 255, 1);
$timberwolf: rgba(209, 208, 209, 1);
$french-gray: rgba(174, 171, 180, 1);
$french-gray-2: rgba(207, 199, 208, 1);
$timberwolf-2: rgba(218, 209, 212, 1);

 SCSS Gradient 
$gradient-top: linear-gradient(0deg, #FFFFFFff, #D1D0D1ff, #AEABB4ff, #CFC7D0ff, #DAD1D4ff);
$gradient-right: linear-gradient(90deg, #FFFFFFff, #D1D0D1ff, #AEABB4ff, #CFC7D0ff, #DAD1D4ff);
$gradient-bottom: linear-gradient(180deg, #FFFFFFff, #D1D0D1ff, #AEABB4ff, #CFC7D0ff, #DAD1D4ff);
$gradient-left: linear-gradient(270deg, #FFFFFFff, #D1D0D1ff, #AEABB4ff, #CFC7D0ff, #DAD1D4ff);
$gradient-top-right: linear-gradient(45deg, #FFFFFFff, #D1D0D1ff, #AEABB4ff, #CFC7D0ff, #DAD1D4ff);
$gradient-bottom-right: linear-gradient(135deg, #FFFFFFff, #D1D0D1ff, #AEABB4ff, #CFC7D0ff, #DAD1D4ff);
$gradient-top-left: linear-gradient(225deg, #FFFFFFff, #D1D0D1ff, #AEABB4ff, #CFC7D0ff, #DAD1D4ff);
$gradient-bottom-left: linear-gradient(315deg, #FFFFFFff, #D1D0D1ff, #AEABB4ff, #CFC7D0ff, #DAD1D4ff);
$gradient-radial: radial-gradient(#FFFFFFff, #D1D0D1ff, #AEABB4ff, #CFC7D0ff, #DAD1D4ff);

*/
